<!-- app/views/sessions/new.html.erb -->
<%= form_with url: login_path, scope: :user do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.label :remember_me %>
    <%= form.check_box :remember_me %>
  </div>
    <%= recaptcha_tags %>

  <%= form.submit "Sign In" %>



  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>



<% end %>

<%= form_tag('/auth/google_oauth2/', method: 'post') do %>
    <button type='submit'>Login with Google</button>
<% end %>