<h1>Article#show</h1>
<h2><%= @article.name %></h2>
<p>Crée par: <span><%= @username %></span></p>

<p> Article posté <%= time_tag @article.created_at, "data-local": "time-ago" %></p>
<p><%= @article.content %></p>

<% if @is_user_post %>
  <%= link_to "Éditer", edit_article_path %>
  <br>
  <%= form_with model: @article,url: "/article/#{@article.id}", method: :delete do |form| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= form.submit "Effacer" , :onclick => "return confirm('Êtes vous sur de vouloir effacer #{@article.name}')"  %>
  <% end %>
<% end %>




