<%= form_with model: @user, url: confirmations_path do |form| %>
  <%= form.email_field :email, required: true %>
    <%= recaptcha_tags %>
  <%= form.submit "Confirm Email" %>

  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<% end %>